<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offline Arcade</title>

  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <chess></chess>
  </div>

  <template id="chess-component">
    <div id="chess-container">
      <div style="margin-bottom: 1em;">
        {{ description }}
      </div>

      <div id="chess-board" :style="{ '--tile-size': tileSize + 'px' }">
        <div v-for="row, r in board" >
          <div v-for="piece, c in row" @click="squareClicked(r, c)"  class="chess-square" :class="(r + c) % 2 ? 'black-cell' : 'white-cell'">
            <scope-var :square="squareName(r, c)" v-slot="{ square }">
              <div v-if="square == movingPiece" class="chess-square-overlay chess-moving-indicator"></div>
              <div v-else-if="moves[movingPiece + square]" @click="moveTo(r, c)" class="chess-square-overlay">
                <div :class="piece ? 'chess-capture-indicator' : 'chess-move-indicator'"></div>
              </div>
              <div v-else-if="isLastMove(square)">
                <div class="chess-square-overlay chess-last-move"></div>
              </div>
            </scope-var>
            <img v-if="piece" :src="'pieces/riohacha/' + piece.color + piece.type.toUpperCase() + '.svg'" class="chess-piece">
          </div>
        </div>
      </div>

      <div class="chess-options">
        <button v-if="gameOver" @click="historyBack">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
            <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
          </svg>
        </button>

        <button @click="reset">Reset</button>

        <button v-if="gameOver" @click="historyForward">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
            <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
          </svg>
        </button>
      </div>

      <svg width="0" height="0">
        <defs>
          <clipPath id="chess-capture-indicator-clip-path">
            <path :transform="'scale(' + (tileSize / 20) + ')'" d="M0 0 20 0 20 20 0 20 0 0M-1 10A1 1 90 0021 10 1 1 90 00-1 10"/>
          </clipPath>
        </defs>
      </svg>
    </div>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chess.js@0.12.1/chess.min.js"></script>

  <script src="scripts/chess-component.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>